

body{
    width:100%;
       display: table;
    position: absolute;
    height: 100%;
    
}

#main{
    width: 90%;
   
    margin:auto;
    
    display: table-cell;
    vertical-align: middle;
}

#firstFlexContainer{
    display:flex;
    flex-direction:row;
    min-height:500px;
    max-height: calc(100vh - 20px);
    max-height:  -webkit-calc(100vh - 20px);
    max-height: -moz-calc(100vh - 20px);
    
}

#imageDiv{
    flex:1 1 auto;
    background-color:#e6e6e6;
    justify-content:center;
    display:flex;
    flex-direction:column;
    border: 2px solid black;
}

#imageDiv > div{
    min-width:0;
    margin: auto;
}

img{
    max-height:  calc(100vh - 20px);
    max-height:  -webkit-calc(100vh - 20px);
    max-height: -moz-calc(100vh - 20px);
}

#commentPane{
    flex: 1 0 200px;
    border: 2px solid black;
    flex-direction:column;
    display:flex;
    padding:10px;
    max-width: 260px;
    word-wrap: break-word;
}

#commentPane ul{
    list-style-type: none;
    padding:0;
}


#commentPane ul li{
    
    border-bottom: 1px solid #b9aeae;
    padding: 5px 0 5px 0;
}

#commentList{
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

#enterComment{
    flex: 0 0 80px;
    display:flex;
}


#enterComment div:nth-child(1)  {
    flex: 1 1 auto;
}

#enterComment div:nth-child(2)  {
    flex: 0 0 50px;
}

textarea{
    resize: none;
    width:100%;
}