/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Oct-2016, 21:04:41
    Author     : vladislavvoicehovic
*/

html,body,#main{
    height: 100%;
}

#main{
   
}

#stuffContainer{
        display: flex;
       
        padding:20px;
        max-width: 1000px;
        margin: 0px auto 0;
        flex-direction: row;
       
}

.list-group{
    flex: 0 0 170px;/*grow shrink basis*/
    border-right: 1px solid #dbdbdb;
    border: 0;
    box-shadow:none;
}

.panel{
    flex: 1 1 auto;
    flex-direction:column;
    display: flex;
}


.panel-heading{
    display:flex;
    flex: 0 0 auto;
}

.panel-body{
    flex: 1 1 auto;
}





/*page layout upstairs*/

.alert{
    margin-top:20px;
}


#profileInfo h1{
   
    font-family:cursive;
}

#profileInfo h2{
    font-family: monospace;
    FONT-WEIGHT: bold;
    font-size: 17px;
}

#profileInfo p, h1, h2{
    margin-left:20px;
}

